# Task 1

#Install Jupyter notebook and run the first program and share the screenshot of the output.

In [1]:
print('My first program in Python')

My first program in Python

#Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on single line.

In [1]:
for i in range(2000,3201):
    if i%7==0 and i*5!=0:
        print(i,end = ",")

2002,2009,2016,2023,2030,2037,2044,2051,2058,2065,2072,2079,2086,2093,2100,2107,2114,2121,2128,2135,2142,2149,2156,2163,2170,2177,2184,2191,2198,2205,2212,2219,2226,2233,2240,2247,2254,2261,2268,2275,2282,2289,2296,2303,2310,2317,2324,2331,2338,2345,2352,2359,2366,2373,2380,2387,2394,2401,2408,2415,2422,2429,2436,2443,2450,2457,2464,2471,2478,2485,2492,2499,2506,2513,2520,2527,2534,2541,2548,2555,2562,2569,2576,2583,2590,2597,2604,2611,2618,2625,2632,2639,2646,2653,2660,2667,2674,2681,2688,2695,2702,2709,2716,2723,2730,2737,2744,2751,2758,2765,2772,2779,2786,2793,2800,2807,2814,2821,2828,2835,2842,2849,2856,2863,2870,2877,2884,2891,2898,2905,2912,2919,2926,2933,2940,2947,2954,2961,2968,2975,2982,2989,2996,3003,3010,3017,3024,3031,3038,3045,3052,3059,3066,3073,3080,3087,3094,3101,3108,3115,3122,3129,3136,3143,3150,3157,3164,3171,3178,3185,3192,3199,

#Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [10]:
l = input("What is your first name? ")
u = input("What is your last name? ")

j = l[::-1]
s = u[::-1]

print("your name is ", j+" "+s)

What is your first name? Shubham
What is your last name? Pandya
your name is  mahbuhS aydnaP

#Write a Python program to find the volume of a sphere with diameter 12 cm. Formula: V=4/3 * Ï€ * r 3

In [12]:
pi = 22/7
d = 12
r = d/2

volume=4/3*pi*r

print("volume of sphere with diameter 12 cm is " + str(volume) + "cm3")

volume of sphere with diameter 12 cm is 25.14285714285714cm3

# Task 2

#Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [1]:
b = list(range(0,600,10))

print(b)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520, 530, 540, 550, 560, 570, 580, 590]

#Create the below pattern using nested for loop in Python

In [2]:
for val in range(4):
    for yal in range(val+1):
        print("*", end="")
    print()
    
for tal in range(3):
    for kal in range(3-tal):
        print("*", end="")
    print()

*
**
***
****
***
**
*

#write a python program to reverse a word after accepting the input from the user, input word AcadGild, Output - dliGdacA

In [1]:
h = input(" Write a word ")
j = h[::-1]
print(j)

 Write a word AcadGild
dliGdacA

#Write a Python Program to print the given string in the format specified in the sample output. 
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to allits citizens

In [2]:
print('''  WE, THE PEOPLE OF INDIA,
                having solemnly resolved to constitute India into a SOVEREIGN, !
                        SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
                        and to secure to all its citizens

''')

  WE, THE PEOPLE OF INDIA,
                having solemnly resolved to constitute India into a SOVEREIGN, !
                        SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
                        and to secure to all its citizens